@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "New Hero";
    src: url(./Hero/Commercial/TTF/Hero-Bold.ttf),
        url(./Hero/Commercial/TTF/Hero-Light.ttf),
        url(./Hero/Commercial/TTF/Hero-Regular.ttf);
}
html body#root__body *:not(i,.fa, .fa-regular,.fa-solid,.fa-brand,.fas,.far,.fab) {
    font-family: "New Hero" !important;
}
.footer_mh {
    min-height: calc(100vh - 188px) !important;
}

.bg_bunting {
    background: #172853 !important;
}
.text_bunting {
    color: #172853 !important;
}

.bg_steel_blue {
    background: #487eb7 !important;
}
.text_steel_blue {
    color: #487eb7 !important;
}

.bg_metalic_gold {
    background: #d4af37 !important;
}
.text_metalic_gold {
    color: #d4af37 !important;
}

.st-sticky-share-buttons {
    display: none !important;
}
